.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  background: rgba(20, 25, 45, 0.8);
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  transition: 0.3s ease;
}

.links a:hover {
  color: #8f5cff;
}

.links a.active {
  color: #8f5cff;
  border-bottom: 2px solid #8f5cff;
  padding-bottom: 4px;
}
